body{
    background-color: black;
}

h1{
    color: white;
    text-transform: uppercase;
}

.motivation-img{
    border: white solid 5px;
    width: 500px;
    display: block;
    margin: 0 auto;
}

.poster{
    margin-top: 100px;
    margin-left: 25%;
    width: 50%;
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: center;
}